.flex-box{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-element{
    flex:1;
}

.border{
    border: solid 1px silver;
}

.margin{
    margin: 4px;
}

.padding {
    padding: 4px;
}

.full-size{
    width: 100%;
    height: 100%;
}

.note{
    position: absolute;
    width: 180px;
    height: 180px;
    border: solid 1px silver;
    background-color: lightyellow;
    font-size: 14px;
}

.note-tlb{
    height: 10px;
}

.note-content{
    resize: none;
    border: none;
    overflow: hidden;
    background: transparent;
    padding: 4px;
}

.note-content:focus{
    outline: none;
}